@if (sessionData()) {
  <div class="form-container">
    <form [formGroup]="sessionForm" (ngSubmit)="onSubmit()">
      <!-- Year Dropdown and Title -->
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline" fxFlex="30">
          <mat-label>Année</mat-label>
          <mat-select
            formControlName="Year"
            required
            (selectionChange)="updateYear($event)">
            @for (year of years; track year) {
              <mat-option [value]="year">{{ year }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="70">
          <mat-label id="title-label">Titre</mat-label>
          <input
            id="title-input"
            aria-labelledby="title-label"
            matInput
            formControlName="Title" />
        </mat-form-field>
      </div>
      <!-- Presentation -->
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label id="presentation-label">Présentation</mat-label>
          <textarea
            id="presentation-input"
            aria-labelledby="presentation-label"
            matInput
            formControlName="Presentation"
            rows="10"></textarea>
        </mat-form-field>
      </div>
      <!-- Program -->
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label id="program-label">Programme</mat-label>
          <textarea
            id="program-input"
            aria-labelledby="program-label"
            matInput
            formControlName="Program"
            rows="10"></textarea>
        </mat-form-field>
      </div>
      <!-- Teaser -->
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label id="teaser-label">Teaser</mat-label>
          <textarea
            id="teaser-input"
            aria-labelledby="teaser-label"
            matInput
            formControlName="Teaser"
            rows="5"></textarea>
        </mat-form-field>
      </div>
      <!-- Conductor Information -->
      <mat-expansion-panel class="form-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title> Directeur </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          [formGroupName]="'Conductor'"
          fxLayout="row"
          fxLayoutGap="20px"
          fxLayoutAlign="start stretch">
          <mat-form-field appearance="outline" fxFlex="33">
            <mat-label id="first-name-label">Prénom</mat-label>
            <input
              id="first-name-input"
              aria-labelledby="first-name-label"
              matInput
              formControlName="FirstName" />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="33">
            <mat-label id="last-name-label">Nom de famille</mat-label>
            <input
              id="last-name-input"
              aria-labelledby="last-name-label"
              matInput
              formControlName="LastName" />
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="34">
            <mat-label id="picture-label">Lien portrait</mat-label>
            <input
              id="picture-input"
              aria-labelledby="picture-label"
              matInput
              formControlName="Picture" />
          </mat-form-field>
        </div>
        <div
          [formGroupName]="'Conductor'"
          fxLayout="row"
          fxLayoutAlign="start stretch">
          <mat-form-field appearance="outline" fxFlex>
            <mat-label id="conductor-presentation-label"
              >Présentation</mat-label
            >
            <textarea
              id="conductor-presentation-input"
              aria-labelledby="conductor-presentation-label"
              matInput
              formControlName="Presentation"
              rows="6"></textarea>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
      <!-- Soloists Section -->
      <mat-expansion-panel class="form-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title> Solistes </mat-panel-title>
        </mat-expansion-panel-header>
        <div formArrayName="Soloists">
          @for (soloist of Soloists.controls; track soloist; let i = $index) {
            <div [formGroupName]="i">
              <div
                fxLayout="row"
                fxLayoutGap="20px"
                fxLayoutAlign="start stretch">
                <mat-form-field appearance="outline" fxFlex="24">
                  <mat-label id="soloist-firstname-label">Prénom</mat-label>
                  <input
                    id="soloist-firstname-input"
                    aria-labelledby="soloist-firstname-input"
                    matInput
                    formControlName="FirstName" />
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="24">
                  <mat-label id="soloist-lastname-label"
                    >Nom de famille</mat-label
                  >
                  <input
                    id="soloist-lastname-input"
                    aria-labelledby="soloist-lastname-input"
                    matInput
                    formControlName="LastName" />
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="24">
                  <mat-label id="soloist-instrument-label"
                    >Instrument</mat-label
                  >
                  <input
                    id="soloist-instrument-input"
                    aria-labelledby="soloist-instrument-label"
                    matInput
                    formControlName="Instrument" />
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="24">
                  <mat-label id="soloist-picture-label"
                    >Lien portrait</mat-label
                  >
                  <input
                    id="soloist-picture-input"
                    aria-labelledby="soloist-picture-label"
                    matInput
                    formControlName="Picture" />
                </mat-form-field>
                <div fxFlex="2">
                  <button
                    mat-icon-button
                    color="warn"
                    type="button"
                    (click)="removeSoloist(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="start stretch">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label id="soloist-presentation-label"
                    >Présentation</mat-label
                  >
                  <textarea
                    id="soloist-presentation-input"
                    aria-labelledby="soloist-presentation-label"
                    matInput
                    formControlName="Presentation"
                    rows="4"></textarea>
                </mat-form-field>
              </div>
            </div>
          }
        </div>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addSoloist()">
          Ajouter soliste
        </button>
      </mat-expansion-panel>
      <!-- Musicians Section -->
      <mat-expansion-panel class="form-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title> Musiciens </mat-panel-title>
        </mat-expansion-panel-header>
        <div
          formArrayName="Musicians"
          style="overflow-y: auto; max-height: 400px">
          @for (
            musician of Musicians.controls;
            track musician;
            let i = $index
          ) {
            <div [formGroupName]="i" style="margin: 10px">
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign="start stretch">
                <mat-form-field appearance="outline" fxFlex="30">
                  <mat-label id="musician-firstname-label">Prénom</mat-label>
                  <input
                    id="musician-firstname-input"
                    aria-labelledby="musician-firstname-label"
                    matInput
                    formControlName="FirstName" />
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="30">
                  <mat-label id="musician-lastname-label"
                    >Nom de famille</mat-label
                  >
                  <input
                    id="musician-lastname-input"
                    aria-labelledby="musician-lastname-label"
                    matInput
                    formControlName="LastName" />
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="30">
                  <mat-label id="musician-instrument-label"
                    >Instrument</mat-label
                  >
                  <input
                    id="musician-instrument-input"
                    aria-labelledby="musician-instrument-label"
                    matInput
                    formControlName="Instrument" />
                </mat-form-field>
                <div fxFlex="2">
                  <button
                    mat-icon-button
                    color="warn"
                    type="button"
                    (click)="removeMusician(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          }
        </div>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addMusician()">
          Ajouter musicien
        </button>
      </mat-expansion-panel>
      <!-- Concerts Section -->
      <mat-expansion-panel class="form-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title> Concerts </mat-panel-title>
        </mat-expansion-panel-header>
        <div formArrayName="Concerts">
          @for (concert of Concerts.controls; track concert; let i = $index) {
            <div [formGroupName]="i">
              <div
                fxLayout="row"
                fxLayoutGap="20px"
                fxLayoutAlign="start stretch">
                <mat-form-field appearance="outline" fxFlex="30">
                  <mat-label id="concert-date-label">Lieu</mat-label>
                  <input
                    id="concert-date-input"
                    aria-labelledby="concert-date-label"
                    matInput
                    formControlName="Date" />
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="38">
                  <mat-label id="concert-venue-label">Lieu</mat-label>
                  <input
                    id="concert-venue-input"
                    aria-labelledby="concert-venue-label"
                    matInput
                    formControlName="Venue" />
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="30">
                  <mat-label id="concert-city-label">Ville</mat-label>
                  <input
                    id="concert-city-input"
                    aria-labelledby="concert-city-label"
                    matInput
                    formControlName="City" />
                </mat-form-field>
                <div fxFlex="2">
                  <button
                    mat-icon-button
                    color="warn"
                    type="button"
                    (click)="removeConcert(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <div
                fxLayout="row"
                fxLayoutGap="20px"
                fxLayoutAlign="start stretch">
                <mat-form-field appearance="outline" fxFlex="100">
                  <mat-label id="concert-tickets-label">Lien Tickets</mat-label>
                  <input
                    id="concert-tickets-input"
                    aria-labelledby="concert-tickets-label"
                    matInput
                    formControlName="Tickets" />
                </mat-form-field>
              </div>
            </div>
          }
        </div>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addConcert()">
          Ajouter concert
        </button>
      </mat-expansion-panel>
      <!-- Submit Button -->
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!sessionForm.dirty">
          Enregistrer
        </button>
      </div>
    </form>
  </div>
}
