.galleries-admin-container {
  padding: 20px;
}

.add-gallery {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.form-expansion-panel {
  margin-bottom: 12px;
}

.galleries-empty {
  color: #777;
}
