<ng-container *ngIf="data">
  <div class="floating-menu">
    <a
      routerLink="."
      fragment="band"
      class="menu-item"
      [matTooltip]="isMobile ? data.BandTitle : null"
      [class.active]="activeSection === 'band'">
      <i class="fa-solid fa-users menu-icon"></i>
      <span *ngIf="!isMobile">{{ data.BandTitle }}</span>
    </a>

    <a
      routerLink="."
      fragment="committee"
      class="menu-item"
      [matTooltip]="isMobile ? data.CommitteeTitle : null"
      [class.active]="activeSection === 'committee'">
      <i class="fa-solid fa-user-tie menu-icon"></i>
      <span *ngIf="!isMobile">{{ data.CommitteeTitle }}</span>
    </a>
  </div>

  <div class="about-content">
    <!-- Band Section -->
    <div id="band" class="anchor-section">
      <!-- Full-width image outside card -->
      <div class="full-viewport-image-container">
        <img [src]="'assets/' + data.BandPicture" alt="{{ data.BandTitle }}" />
      </div>

      <!-- Card with content -->
      <mat-card class="content-card">
        <mat-card-header>
          <mat-card-title
            ><h1>{{ data.BandTitle }}</h1></mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <div class="content-text" [innerHTML]="data.BandPresentation"></div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Committee Card -->
    <div id="committee" class="anchor-section">
      <mat-card class="content-card">
        <mat-card-header>
          <mat-card-title
            ><h1>{{ data.CommitteeTitle }}</h1></mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <div class="content-text">
            <p [innerHTML]="data.CommitteePresentation"></p>
          </div>
          <div class="committee-members">
            <div
              class="member-item"
              *ngFor="let member of data.CommitteeMembers">
              <strong>{{ member.Function }}</strong>
              <span>{{ member.FirstName }} {{ member.LastName }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>
