.custom-gallery-content {
  overflow: hidden; /* Prevent scrollbars */
}

.custom-gallery {
  z-index: 1500 !important;
}

.gallery-slider,
.gallery-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 150px);
}

@media (max-width: 960px) {
  .gallery-slider,
  .gallery-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
}

.gallery-image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  max-width: 100%; /* Scale the image down if it's too wide */
  max-height: 100%; /* Scale the image down if it's too tall */
  object-fit: contain; /* Maintain aspect ratio and fit inside the container */
}

/* Paginator Customization */
.mat-paginator-container {
  display: flex;
  justify-content: center;
  padding: 10px 0; /* Add some padding around the paginator */
}

.mat-paginator-range-label,
.mat-paginator-page-size,
.mat-paginator-page-size-label {
  display: none; /* Hide unwanted paginator elements */
}

.mat-paginator-navigation {
  display: flex;
  margin: 0 auto;
}

button.mat-button {
  margin: 10px;
}
