<div class="custom-gallery">
  <h2 mat-dialog-title>Galerie {{ data.year }}</h2>
  <mat-dialog-content class="custom-gallery-content">
    <!-- Conditional display based on screen size -->
    @if (isMobile) {
      <div class="gallery-slider">
        @if (data.images[currentIndex]) {
          <div class="gallery-image-wrapper">
            <img
              [src]="data.images[currentIndex].url"
              [alt]="data.images[currentIndex].alt"
              class="gallery-image" />
          </div>
        }
      </div>
    }

    @if (!isMobile) {
      <div class="gallery-vertical">
        @if (data.images[currentIndex]) {
          <div class="gallery-image-wrapper">
            <img
              [src]="data.images[currentIndex].url"
              [alt]="data.images[currentIndex].alt"
              class="gallery-image" />
          </div>
        }
      </div>
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Fermer</button>
    <mat-paginator
      [hidePageSize]="true"
      [length]="data.images.length"
      [pageSize]="1"
      [showFirstLastButtons]="true"></mat-paginator>
  </mat-dialog-actions>
</div>
