<ng-container *ngIf="organisation && sponsors">

  <div class="welcome-title">
    Bonjour ami Shostakovien!<br/>
    Cette année, nous aurons la tête dans les étoiles!
  </div>

  <app-gallery-container></app-gallery-container>

  <div id="about-section" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around start" fxLayoutGap="16px">
    <!-- First Card -->
    <mat-card fxFlex="70%" fxFlex.xs="100" class="custom-card">
      <mat-card-header>
        <mat-card-title>{{organisation.BandTitle}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="'assets/'+organisation.BandPicture" alt="">
      <mat-card-content>
        <div style="font-family: Montserrat, sans-serif; line-height: 1.6; color: #333;">
          <div [innerHTML]="organisation.BandPresentation"></div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Second Card -->
    <mat-card fxFlex="30%" fxFlex.xs="100" class="custom-card">
      <mat-card-header>
        <mat-card-title>{{organisation.CommitteeTitle}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div style="font-family: Montserrat, sans-serif; line-height: 1.6; color: #333;">
          <p [innerHTML]="organisation.CommitteePresentation"></p>
        </div>
        <div fxLayout="row wrap" style="font-family: Montserrat, sans-serif; line-height: 1.6; color: #333;">
          <div fxFlex="100%" *ngFor="let member of organisation.CommitteeMembers">
            <div style="padding: 10px; box-sizing: border-box;">
              <strong>{{ member.Function }}</strong><br>
              <span>{{ member.FirstName }} {{ member.LastName }}</span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div id="sponsors-section" style="margin: 20px;">
    <!-- Introduction for Sponsors -->
    <div style="margin-bottom: 20px;">
      <h2>Sponsors</h2>
      <p>Nous remercions infiniment nos sponsors pour leur soutien en 2024 et vous les recommandons vivement !</p>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
      <mat-card *ngFor="let sponsor of sponsors" class="sponsor-card" fxFlex="20%" fxFlex.gt-xs="200px" fxLayoutAlign="center center">
        <mat-card-header>
          <img mat-card-image [src]="'/assets/sponsors/' + sponsor.filename" alt="{{sponsor.alt}}">
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div id="contact-section" fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="16px">
    <mat-card fxFlex="60%" fxFlex.xs="100%" class="custom-card">
      <mat-card-header>
        <mat-card-title>Contact</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
          <!-- Contact Form -->
          <div class="contact-form" fxFlex="60%">
            <form style="display: flex; flex-direction: column; gap: 16px;">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Prénom</mat-label>
                <input matInput placeholder="Veuillez saisir votre prénom">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Veuillez saisir votre nom">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Courriel</mat-label>
                <input matInput type="email" placeholder="Veuillez saisir votre courriel">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Téléphone</mat-label>
                <input matInput type="tel" placeholder="Veuillez saisir votre numéro de téléphone">
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Message</mat-label>
                <textarea matInput rows="6"></textarea>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit">Envoyer</button>
            </form>
          </div>
          <!-- Committee President Info -->
          <div class="president-info" fxFlex="30%" *ngIf="president">
            <div class="president-info-title">
              Personne de contact
            </div>
            <div style="display: flex; flex-direction: column; gap: 8px;">
              <div>
                <span>{{ president.FirstName }} {{ president.LastName }}</span>
              </div>
              <div>
                Rue: {{ president.Address }}
              </div>
              <div>
                Ville: {{ president.Zip }} {{ president.City }}
              </div>
              <div>
                Téléphone: {{ president.PhoneNumber }}
              </div>
              <div>
                Courriel: <a href="mailto:{{ president.Email }}">{{ president.Email }}</a>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

