@if (data()) {
  <div id="sponsors-section" style="margin: 20px">
    <!-- Introduction for Sponsors -->
    <div style="margin-bottom: 20px">
      <h2>Sponsors</h2>
      <p>
        Nous remercions infiniment nos sponsors pour leur soutien en 2024 et
        vous les recommandons vivement !
      </p>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
      @for (sponsor of data(); track sponsor) {
        <mat-card
          class="sponsor-card"
          fxFlex="20%"
          fxFlex.gt-xs="200px"
          fxLayoutAlign="center center">
          <mat-card-header>
            <img
              mat-card-image
              [src]="'/assets/sponsors/' + sponsor.filename"
              alt="{{ sponsor.alt }}" />
          </mat-card-header>
        </mat-card>
      }
    </div>
  </div>
} @else {
  <div id="sponsors-section" style="margin: 20px">
    <!-- Skeleton: introduction block -->
    <div style="margin-bottom: 20px">
      <div class="skeleton-shimmer skeleton-title" style="width: 180px"></div>
      <div class="skeleton-shimmer skeleton-line" style="width: 60%; margin-top: 12px"></div>
    </div>
    <!-- Skeleton: sponsor grid block -->
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
      @for (i of [1, 2, 3, 4, 5, 6]; track i) {
        <div
          class="sponsor-card skeleton-shimmer skeleton-sponsor-card"
          fxFlex="20%"
          fxFlex.gt-xs="200px"></div>
      }
    </div>
  </div>
}
