@if (organisationData()) {
  <div class="form-container">
    <form [formGroup]="bandForm" (ngSubmit)="onSubmit()">
      <!-- Flex container for 3 elements per row -->
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start stretch">
        <!-- Year Field -->
        <mat-form-field appearance="outline" fxFlex="30">
          <mat-label>Année</mat-label>
          <mat-select
            formControlName="Year"
            (selectionChange)="updateYear($event)">
            @for (year of years; track year) {
              <mat-option [value]="year">{{ year }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <!-- Welcome Text -->
        <mat-form-field appearance="outline" fxFlex="70">
          <mat-label id="welcome-text-label">Texte d'accueil</mat-label>
          <input
            id="welcome-text-input"
            aria-labelledby="welcome-text-label"
            matInput
            formControlName="WelcomeText" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start stretch">
        <!-- Band Picture -->
        <mat-form-field appearance="outline" fxFlex="33">
          <mat-label id="band-picture-label">Photo d'ensemble</mat-label>
          <input
            id="band-picture-input"
            aria-labelledby="band-picture-label"
            matInput
            formControlName="BandPicture" />
        </mat-form-field>
        <!-- Band Title -->
        <mat-form-field appearance="outline" fxFlex="67">
          <mat-label id="band-title-label">Titre ensemble</mat-label>
          <input
            id="band-title-input"
            aria-labelledby="band-title-label"
            matInput
            formControlName="BandTitle" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label id="band-presentation-label"
            >Présentation ensemble</mat-label
          >
          <textarea
            id="band-presentation-input"
            aria-labelledby="band-presentation-label"
            matInput
            formControlName="BandPresentation"
            rows="10"></textarea>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline" fxFlex="33">
          <mat-label id="committee-picture-label">Photo comité</mat-label>
          <input
            id="committee-picture-input"
            aria-labelledby="committee-picture-label"
            matInput
            formControlName="CommitteePicture" />
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="67">
          <mat-label id="committee-title-label">Titre comité</mat-label>
          <input
            id="committee-title-input"
            aria-labelledby="committee-title-label"
            matInput
            formControlName="CommitteeTitle" />
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label id="committee-presentation-label"
            >Présentation du comité</mat-label
          >
          <textarea
            id="committee-presentation-input"
            aria-labelledby="committee-presentation-label"
            matInput
            formControlName="CommitteePresentation"
            rows="6"></textarea>
        </mat-form-field>
      </div>
      <mat-expansion-panel class="form-expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Membres du comité</mat-panel-title>
        </mat-expansion-panel-header>
        <div
          formArrayName="CommitteeMembers"
          style="overflow-y: auto; max-height: 400px">
          @for (
            member of CommitteeMembers.controls;
            track member;
            let i = $index
          ) {
            <div [formGroupName]="i" style="margin: 10px">
              <!-- Form Fields for each Committee Member -->
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign="start stretch">
                <!-- Function -->
                <mat-form-field appearance="outline" fxFlex="31">
                  <mat-label id="function-label">Fonction</mat-label>
                  <input
                    id="function-input"
                    aria-labelledby="function-label"
                    matInput
                    formControlName="Function" />
                </mat-form-field>
                <!-- First Name -->
                <mat-form-field appearance="outline" fxFlex="31">
                  <mat-label id="first-name-label">Prénom</mat-label>
                  <input
                    id="first-name-input"
                    aria-labelledby="first-name-label"
                    matInput
                    formControlName="FirstName" />
                </mat-form-field>
                <!-- Last Name -->
                <mat-form-field appearance="outline" fxFlex="31">
                  <mat-label id="last-name-label">Nom</mat-label>
                  <input
                    id="last-name-input"
                    aria-labelledby="last-name-label"
                    matInput
                    formControlName="LastName" />
                </mat-form-field>
                <div fxFlex="1">
                  <button
                    mat-icon-button
                    type="button"
                    color="warn"
                    (click)="removeCommitteeMember(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign="start stretch">
                <!-- Address -->
                <mat-form-field appearance="outline" fxFlex="31">
                  <mat-label id="address-label">Adresse</mat-label>
                  <input
                    id="address-input"
                    aria-labelledby="address-label"
                    matInput
                    formControlName="Address" />
                </mat-form-field>
                <!-- Zip -->
                <mat-form-field appearance="outline" fxFlex="31">
                  <mat-label id="zip-label">Code postal</mat-label>
                  <input
                    id="zip-input"
                    aria-labelledby="zip-label"
                    matInput
                    formControlName="Zip" />
                </mat-form-field>
                <!-- City -->
                <mat-form-field appearance="outline" fxFlex="31">
                  <mat-label id="city-label">Ville</mat-label>
                  <input
                    id="city-input"
                    aria-labelledby="city-label"
                    matInput
                    formControlName="City" />
                </mat-form-field>
              </div>
              <div
                fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign="start stretch">
                <!-- Phone Number -->
                <mat-form-field appearance="outline" fxFlex="31">
                  <mat-label id="phone-number-label">Phone Number</mat-label>
                  <input
                    id="phone-number-input"
                    aria-labelledby="phone-number-label"
                    matInput
                    formControlName="PhoneNumber" />
                </mat-form-field>
                <!-- Email -->
                <mat-form-field appearance="outline" fxFlex="31">
                  <mat-label id="email-label">Email</mat-label>
                  <input
                    id="email-input"
                    aria-labelledby="email-label"
                    matInput
                    formControlName="Email" />
                </mat-form-field>
                <!-- Picture -->
                <mat-form-field appearance="outline" fxFlex="31">
                  <mat-label id="picture-label">Lien portrait</mat-label>
                  <input
                    id="picture-input"
                    aria-labelledby="picture-label"
                    matInput
                    formControlName="Picture" />
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="start stretch">
                <mat-checkbox formControlName="IsContactPerson" fxFlex
                  >Est une personne de contact</mat-checkbox
                >
              </div>
            </div>
          }
        </div>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addCommitteeMember()">
          Ajouter membre du comité
        </button>
      </mat-expansion-panel>
      <!-- Submit Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!bandForm.dirty">
        Enregistrer
      </button>
    </form>
  </div>
}
