<div *ngIf="spinnerService.isLoading$ | async" class="overlay">
  <mat-spinner></mat-spinner>
</div>
<!-- Top Bar with Logo, Social Icons, and Mobile Menu Button -->
<mat-toolbar
  color="primary"
  class="top-bar"
  fxLayout="row"
  fxLayoutAlign="space-between center">
  <!-- Left Side Logo -->
  <div fxLayout="row" fxLayoutAlign="start center" class="logo-container">
    <img src="../assets/shosta_logo.png" alt="Brand Logo" class="logo-image" />
    <!-- Replace with your logo image -->
  </div>

  <!-- Right Side Social Icons and Mobile Menu Button -->
  <div fxLayout="row" fxLayoutAlign="end center" class="right-section">
    <a
      mat-icon-button
      href="https://www.facebook.com/harmonieshosta"
      target="_blank">
      <i class="fa-brands fa-facebook"></i>
      <!-- Facebook Icon -->
    </a>
    <a
      mat-icon-button
      href="https://www.instagram.com/harmonie_shostakovich/?igsh=OGQ5ZDc2ODk2ZA"
      target="_blank"
      fxHide.lt-md>
      <i class="fa-brands fa-instagram"></i>
      <!-- Instagram Icon -->
    </a>
    <a
      mat-icon-button
      href="https://m.youtube.com/@harmonieshostakovich8006"
      target="_blank"
      fxHide.lt-sm>
      <i class="fa-brands fa-youtube"></i>
      <!-- YouTube Icon -->
    </a>

    <!-- Mobile Menu Button, shown only when width < 768px -->
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      class="menu-toggle-button"
      fxShow.lt-md>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
<!-- Navbar with Logo and Menu Items (hidden on mobile) -->
<mat-toolbar
  color="white"
  class="navbar"
  fxLayout="row"
  fxLayoutAlign="center"
  fxHide.lt-md>
  <div
    class="menu-items"
    *ngIf="!showMenu"
    fxLayout="row"
    fxLayoutAlign="space-around stretch"
    fxFlexFill>
    <a
      mat-button
      routerLink="/about"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="linkActiveOptions"
      class="menu-link"
      fragment="welcome-section"
      >Accueil</a
    >
    <a
      mat-button
      routerLink="/admin/sessions"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="linkActiveOptions"
      class="menu-link"
      >Sessions</a
    >
    <a
      mat-button
      routerLink="/admin/organisation"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="linkActiveOptions"
      class="menu-link"
      >Organisation</a
    >
  </div>
  <div
    class="menu-items"
    *ngIf="showMenu"
    fxLayout="row"
    fxLayoutAlign="space-around stretch"
    fxFlexFill>
    <a
      mat-button
      routerLink="/about"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="linkActiveOptions"
      class="menu-link"
      fragment="welcome-section"
      >Accueil</a
    >
    <a
      mat-button
      routerLink="/about"
      [routerLinkActiveOptions]="linkActiveOptions"
      routerLinkActive="active-link"
      fragment="about-section"
      class="menu-link"
      >A Propos</a
    >
    <a
      mat-button
      routerLink="/about"
      [routerLinkActiveOptions]="linkActiveOptions"
      routerLinkActive="active-link"
      fragment="medias-section"
      class="menu-link"
      >Concerts</a
    >
    <a
      mat-button
      routerLink="/about"
      [routerLinkActiveOptions]="linkActiveOptions"
      routerLinkActive="active-link"
      fragment="contact-section"
      class="menu-link"
      >Contact</a
    >
    <a
      mat-button
      routerLink="/about"
      [routerLinkActiveOptions]="linkActiveOptions"
      routerLinkActive="active-link"
      fragment="sponsors-section"
      class="menu-link"
      >Sponsors</a
    >
    <a
      *ngIf="currentYear"
      mat-button
      [routerLink]="['/session', currentYear]"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      class="menu-link"
      >Concerts {{ currentYear }}</a
    >
  </div>
</mat-toolbar>

<!-- Sidenav for Mobile -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="over"
    position="end"
    fxShow.lt-md
    class="mobile-sidenav">
    <mat-nav-list *ngIf="!showMenu">
      <a
        mat-list-item
        routerLink="/about"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="linkActiveOptions"
        class="menu-link"
        fragment="welcome-section"
        (click)="sidenav.close()"
        >Accueil</a
      >
      <a
        mat-list-item
        routerLink="/admin/sessions"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="linkActiveOptions"
        class="menu-link"
        (click)="sidenav.close()"
        >Sessions</a
      >
      <a
        mat-list-item
        routerLink="/admin/organisation"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="linkActiveOptions"
        class="menu-link"
        (click)="sidenav.close()"
        >Organisation</a
      >
    </mat-nav-list>
    <mat-nav-list *ngIf="showMenu">
      <a
        mat-list-item
        routerLink="/about"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="linkActiveOptions"
        class="menu-link"
        fragment="welcome-section"
        (click)="sidenav.close()"
        >Accueil</a
      >
      <a
        mat-list-item
        routerLink="/about"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="linkActiveOptions"
        fragment="about-section"
        class="menu-link"
        (click)="sidenav.close()"
        >A Propos</a
      >
      <a
        mat-list-item
        routerLink="/about"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="linkActiveOptions"
        fragment="medias-section"
        class="menu-link"
        (click)="sidenav.close()"
        >Concerts</a
      >
      <a
        mat-list-item
        routerLink="/about"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="linkActiveOptions"
        fragment="contact-section"
        class="menu-link"
        (click)="sidenav.close()"
        >Contact</a
      >
      <a
        mat-list-item
        routerLink="/about"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="linkActiveOptions"
        fragment="sponsors-section"
        class="menu-link"
        (click)="sidenav.close()"
        >Sponsors</a
      >
      <a
        *ngIf="currentYear"
        mat-list-item
        [routerLink]="['/session', currentYear]"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        class="menu-link"
        (click)="sidenav.close()"
        >Concerts {{ currentYear }}</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div
      (keyup)="scrollToTop()"
      (click)="scrollToTop()"
      *ngIf="showBackToTop"
      class="back-to-top">
      <i class="fas fa-arrow-up"></i>
    </div>
    <div class="content" fxLayout="column" fxLayoutAlign="start stretch">
      <router-outlet></router-outlet>
    </div>
    <div class="facebook-widget-container" *ngIf="showFacebook">
      <div style="margin-bottom: 10px"
           class="fb-page"
           data-href="https://www.facebook.com/harmonieshosta"
           data-tabs="timeline"
           data-width="500"
           data-height="475"
           data-small-header="true"
           data-adapt-container-width="false"
           data-hide-cover="false"
           data-show-facepile="true">
        <blockquote
          cite="https://www.facebook.com/harmonieshosta"
          class="fb-xfbml-parse-ignore">
          <a href="https://www.facebook.com/harmonieshosta"
          >Harmonie Shostakovich</a
          >
        </blockquote>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="secondary" class="footer">
  <div
    fxLayout="row"
    fxLayoutAlign="flex-start center"
    fxFlexFill
    fxLayoutGap="10px">
    <!-- GitHub Link -->
    <a
      href="https://github.com/ggnaegi/ShostApi"
      target="_blank"
      mat-icon-button
      aria-label="GitHub Repository">
      <i class="fa-brands fa-github"></i>
    </a>
    <!-- Copyright Notice -->
    <span class="footer-text">© 2024 Harmonie Shostakovich</span>
  </div>
</mat-toolbar>
